@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");

:root {
  --bgcolor: #2c5170;

  /* --yellow: #fab83d;
  --yellow-light: #fcdca5;
  --green-light: #87aba6;
  --green-medium: #aecddf;
  --green-dark: #1a2719; */
}

body {
  font-family: "PT Sans Narrow";
  letter-spacing: 0.2ex;
}

.logout-btn {
  font-size: max(72%, 16px);
  font-family: "PT Sans Narrow";
  letter-spacing: 0.2ex;
}

.container {
  width: 100%;
}

.container .center {
  display: flex;
  align-items: center;
}

nav {
  background-color: var(--bgcolor);
  font-size: max(72%, 16px);
}

nav .top,
nav .links {
  background: transparent;
  max-width: 810px;
  margin: auto;
}

nav .top .center form {
  margin-top: 0;
}

nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after {
  color: white;
}

footer {
  background-color: var(--bgcolor);
  color: white;
  padding: 30px 5px;
}

footer a {
  color: white;
}
